.contenedor{
    width: 500px;
    margin: auto;
    margin-top: 200px;
}

.contenedor img{
    width: 100%;
    filter: drop-shadow(black 2px 2px 10px);
    -webkit-filter: drop-shadow(black 2px 2px 10px);
}

.contenedor img:hover{
    transform: scale3d(2.5, 1.2, 0.3);
}